* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;


}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

nav {
    display: flex;
    flex-wrap: nowrap;

}

#navbar-links {
    list-style-type: none;
    margin-left: clamp(4rem, 40vw, 60rem);
}

#navbar-links:hover>.nav-item {
    opacity: 0.2;
}

#navbar-links>.nav-item:hover {
    opacity: 1;
}

.nav-item {
    display: inline;
    padding: 0 20px 0 20px;
    font-size: clamp(0.5rem, 4vw, 2em);

    transition: opacity 400ms ease-in-out;

}

#title-logo {
    list-style-type: none;
    font-size: clamp(2rem, 1vw, 3rem);
}


#intro-text {
    text-align: center;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#index-title {
    text-align: center;
}

.card-title {
    font-size: x-large;
}

#card-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}




.finch-card {
    font-size: large;
    border: 1px solid gray;
    border-radius: 10%;
    padding: 10px;
    opacity: 0.95;
    scale: 0.7;
    background: linear-gradient(55deg, white, green, gray, purple);


    transition: scale 400ms ease;

    z-index: 1;

}

.finch-card::before {
    position: absolute;
    content: '';

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    scale: 0.4;
    z-index: -1;

    border: 1px solid gray;
    border-radius: 10%;


    transition: opacity 400ms ease, scale 400ms ease, background-position 400ms ease;

    background-image: linear-gradient(to bottom,
            white, green, orange, red);
}

.finch-card:hover::before {
    opacity: 1;
    scale: 1;
}

.finch-card:hover {
    scale: 1;
}



/* Details Page */
#details-page {
    text-align: center;
}

.finch-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.finch-buttons>a {
    padding: 10px;
    opacity: 0.7;
    background: #CBC3E3;

    transition: opacity 400ms ease-in-out;
}

.finch-buttons>a:hover {
    color: white;
    background-color: #213;
    opacity: 1;
}

#sighting-form {
    background: #CBC3E3;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

#sighting-form::before {
    position: absolute;
    background: #cbe3c3;
    

    content: '';

    border: 1px solid black;
    opacity: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    transition: all 800ms ease;
    
}

#sighting-form:hover::before{
    opacity: 1;
    scale: 1;
}

#sighting-form:hover {
    scale: 1;
}









table {
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

form {
    margin: 50px 0 50px 0;
    height: 100%;

}

.add-food {
    display: flex;
    border: 1px solid black;

    align-items: center;
    justify-content: center;
    gap: 2em;
}

.food-item {

    border: 0;
    height: 100px;
    width: 80px;

    transition: scale 400ms ease;


}



.food-item:hover {
    --border-size: 3px;
    --border-angle: 0turn;
    color: white;
    background: conic-gradient(from var(--border-angle),
            #213,
            #112 50%,
            #213),
        conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;



    scale: 1.2;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}