{% extends 'base.html' %}
{% block content %}


<h1 id="index-title">{{ finch.species }}'s Details</h1>


<div id="details-page">
    <p>Average Size(in oz): {{ finch.mass }}</p>
    <p>Sexually Dimorphic: {{ finch.sexual_dimorphism }}</p>

    <div class="finch-buttons">
        <a href="{% url 'finch_delete' finch.id %}">Delete Finch</a>
        <a href="{% url 'finch_update' finch.id %}">Edit Finch</a>
    </div>
    
    
    <form action="{% url 'add_sighting' finch.id %}" method="POST">
        <label>Seen one of these beauties lately? </label>
        {% csrf_token %}

        {{ sighting_form.as_p }}
        <input type="submit" value="Add Sighting">
    </form>

    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for sighting in finch.sighting_set.all %}
            <tr>
                <td>{{sighting.location}} </td>
                <td>{{sighting.date}} </td>
                <td>{{sighting.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>



{% endblock %}