{% extends 'base.html' %}
{% block content %}


<h1 id="index-title">List of Finches</h1>

<div id="card-display">
    {% for finch in finches %}
    <a id="finch-link" href="{% url 'details' finch.id %}">
        <div class="finch-card">
            <div>
                <span class="card-title">{{ finch.species }}</span>
                <p>Average Size(in oz): {{ finch.mass }}</p>
                <p>Sexually Dimorphic?</p>
                <p>{{ finch.sexually_dimorphic }}</p>
            </div>
    </a>
</div>


{% endfor %}
</div>


{% endblock %}